= link_to 'sign up', new_sign_ups_path
= form_tag session_path do |f|
  = flash[:error]
  = text_field_tag :nickname, '', placeholder: 'nickname'
  = password_field_tag :password, '', placeholder: 'password'
  = submit_tag 'log in'