= form_for user, :url => sign_up_path do |f|
  - if user.errors.any?
    %ul
    - user.errors.full_messages.each do |msg|
      %li #{msg}
  = f.text_field :nickname, placeholder: 'nickname'
  = f.email_field :email, placeholder: 'email@example.com'
  = f.submit