= form_for sign_up do |f|
  - if sign_up.errors.any?
    %ul
    - sign_up.errors.full_messages.each do |msg|
      %li #{msg}
  = f.text_field :nickname, placeholder: 'nickname'
  = f.email_field :email, placeholder: 'email@example.com'
  = f.submit