= form_for user, :url => confirmation_url(user) do |f|
  - if user.errors.any?
    %ul
    - user.errors.full_messages.each do |msg|
      %li #{msg}
  = f.password_field :password, placeholder: 'password'
  = f.password_field :password_confirmation, placeholder: 'password confirmation'
  = f.submit