= form_for confirmation do |f|
  - if confirmation.errors.any?
    %ul
    - confirmation.errors.full_messages.each do |msg|
      %li #{msg}
  = f.password_field :password, placeholder: 'password'
  = f.password_field :password_confirmation, placeholder: 'password confirmation'
  = f.submit